/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 
 * [COMMENT OUT]

 * 5/2/15 DH: Upgrade to Spree 2.2
 * require store/spree_frontend
 
 *= require spree/frontend
 
 *  require store/screen

 * require_self
 * require_tree .
 *
 * 30/5/15 DH: The Spree-3.0 uses 'bootstrap-sass' which includes the files alphabetically,
 *             which means that styles overwritten in 'bsc.css' get reverted in 'screen.css'.
 *             Explicity requiring the files here after the 'require_tree' ensure the overwrites don't get reverted!

 *= require spree/frontend/screen 
 *= require spree/frontend/bsc 

*/
