

<footer id="footer" class="container">
  <div class="row">
    <div class="two columns">
        <h1>DS</h1>
    </div>
     
    <div id="nav" class="fourteen columns omega">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
  </div>
     
  <div id="headerImage" class="sixteen columns">
      <img src="assets/field.jpg">
  </div>
  
   
  <div id="welcome" class="sixteen columns">
      <h1>Built with Skeleton</h1>
      <p>This page was built for Design Shack using Skeleton, an awesome framework for building responsive web pages...</p>
  </div>
   
  <%# -------------- FOUR COLUMNS ------------- %>
  <div class="row">
   
    <div class="four columns">
         
        <h2>One</h2>
        <img src="http://lorempixum.com/296/100/nature/1">
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
     
    <div class="four columns">
         
        <h2>Two</h2>
        <img src="http://lorempixum.com/296/100/nature/2">
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
    
    <div class="four columns">
       
      <h2>Three</h2>
      <img src="http://lorempixum.com/296/100/nature/3">
      <p>Lorem ipsum dolor sit amet...</p>
    </div>
  </div>
  
  <%# -------------- ONE-THIRD COLUMN FEATURE ------------- %>
  <div class="row">
   
    <div class="one-third column feature">
         
        <h2>One</h2>
        <img src="http://lorempixum.com/300/100/nature/1">
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
     
    <div class="one-third column feature">
         
        <h2>Two</h2>
        <img src="http://lorempixum.com/300/100/nature/2">
        <p>Lorem ipsum dolor sit amet...</p>
    </div>
    
    <div class="one-third column feature">
       
      <h2>Three</h2>
      <img src="http://lorempixum.com/300/100/nature/3">
      <p>Lorem ipsum dolor sit amet...</p>
    </div>
  </div>
 
</footer>
