<footer id="footer" class="container">
  
  <div class="row">
    
    <div id="footer-one" class="column">
      <h4>Curtain Info</h4>
      <div id="nav">
        <ul>
          <li><%= link_to "Measuring Advice", "/assets/store/MeasuringAdvice.pdf" %></li>
          <li><%= link_to "Fabric Care", "/assets/store/FabricCare.pdf" %></li>
        </ul>
      </div>
    </div>
    
    <div id="footer-two" class="column">
      <h4>Order Process</h4>
      <div id="nav">
        <ul>
          <li><%= link_to "Delivery and Returns", "/assets/store/DeliveryAndReturns.pdf" %></li>
        </ul>
      </div>
    </div>
    
    <div id="footer-three" class="column">
      <h4>eCommerce legal stuff</h4>
      <div id="nav">
        <ul>
          <li><%= link_to "Terms and Conditions", "/assets/store/TermsAndConditions.pdf" %></li>
        </ul>
      </div>
    </div>
      
  </div>

  
  
</footer>
