<nav id="bsc-main-nav-bar" class="row">

  <span id="bsc-css-anchor">.</span>

  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
<%# debugger %>
    <li id="link-to-cart" data-hook><%= link_to_cart %></li>



<%
=begin %>
OLD:
    <li id="link-to-cart" data-hook><%= link_to_cart %></li>

NEW:
<li id="link-to-cart" data-hook>
<noscript>
<%= link_to Spree.t(:cart), '/cart' %>
</noscript>
&nbsp;
</li>
<script>Spree.fetch_cart()</script>

<%
=end %>
    
  </ul>

</nav>